body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #212529;
}

.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    /* max-width: 800px; */
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn-fixed-bottom {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}